# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# IDEs
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.jks
*.keystore

# OS
.DS_Store
